.h1_test {
    display: block !important; 
    font-size: 2em  !important; 
    margin-top: 0.67em  !important; 
    margin-bottom: 0.67em !important; 
    margin-left: 0 !important; 
    margin-right: 0 !important; 
    font-weight: bold !important;
}
